.mat-tab-label {
    background-color: #00c0ef !important;
}

.user-count {
    font-weight: 300;
    padding: 0px 20px;
    font-size: 38px;
}

.tab-icon {
    color: black;
    font-size: 24px;
    margin: 12px;
}

.mat-drawer:not(.mat-drawer-side) {
    box-shadow: none !important;
}

::ng-deep table th{
    height: 56px !important;
    font-size: 14px;
    background-color: #D0D8DF;
}
aside {
    width: 100%;
    height: calc(100vh - 0px);
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    overflow: scroll !important;
}
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #003A64;
  }
  .exapmple-sidenav{
      background-color: #003A64;
      width:200px;
      color:#fff;
  }

::ng-deep .mat-list-item-content{
      color:#fff;
      text-align: center;
    
}

::ng-deep .mat-list-item-content:hover{
    background-color: #eff4ff;
    opacity: 0.3;
    color: #000;
    font-weight: bold;
}
