<aside>
    <article>
        <mat-toolbar>
            <h5 style="margin-left: 30px;">Users Profile</h5>
        </mat-toolbar>
    </article>

    <main class="padding">
        <mat-card>
            <div class="padding-side">
                <div fxFlex.xs="100" fxFlex.sm="30" fxFlex.md="30" fxFlex.lg="25" class="padding">
                    <mat-card fxLayout="row wrap" fxLayoutAling="center center" style="height: 213px;padding:0px">
                        <img src="" alt="image goes here">
                    </mat-card>
                </div>
            </div>

            <div class="padding-side">
                <mat-card class="margin-side">
                    <h3 class="topic-title">{{profileData.firstname}} </h3>
                    <div fxLayout="row wrap">
                        <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.333">
                            <div class="hpair">
                                <span>First Name: </span>
                                <span>{{profileData.firstname}}</span>
                            </div>
                            <div class="hpair">
                                <span>Last Name: </span>
                                <span>{{profileData.lastname}}</span>
                            </div>
                            <div class="hpair">
                                <span>Email: </span>
                                <span>{{profileData.email}}</span>
                            </div>
                            <div class="hpair">
                                <span>Mobile: </span>
                                <span>{{profileData.mobile}}</span>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </mat-card>

    </main>
</aside>